/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/*
#mySketch {
	height: 1000px
}*/

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

img {
	max-width:100%;
}

header{
	background: #111;
	color: white;
	text-decoration: none;
	width: 95%;
	height: 80px;
	margin:auto;
	display: flex;
	position: fixed;
	z-index: 2;

}

header div{
	flex: 1;
	text-align: center;
	padding-top: 30px;
	text-decoration: none;
}

header div a{
	text-decoration: none;
	color: white;
}

#headername{
	text-align: left;
	padding-left: 80px;
	font-family: 'Andika New Basic', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 25px;
}

#meun a{
	padding-right: 10px;
	font-family: 'Andika New Basic', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: white;
}


#socialmedia{
	padding-top: 25px;
	text-align: right;
	padding-right: 80px;
}

#socialmedia a{
	padding-left: 15px;
	text-decoration: underline;
}

i{
	color: white;
}


#landing{
z-index: -2;
}


@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
  font-family: 'Noto Sans TC', sans-serif;
  font-size:4em;
  text-align:left;
  line-height: 1.1;
  height:200px;
  width:80%;
  display:block;
  position:absolute;
  color:white;
  top:50%;
  bottom:50%;
  left:50%;
  right:50%;
  transform: translate(-50%,-50%);
  margin:auto;
  background: #111;
}

#name{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 90px;
}

#hello{
	font-size: 28px;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.arrow{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-80%);
    z-index: -1;
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

p{
	color: white;

}

#projects{
	margin: auto;
	width: 80%;
	
	/*height: 1000px;*/
}

/*html.sr .project {
    visibility: hidden;
}*/

.section{
 /* transition: all .65s;*/
  opacity: 0;
}

/*.active,
.section:first-child{
  opacity: 1;
}*/

iframe{
	padding-top: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 70%;
    height: 500px;
}

.title{
	padding-top: 20px;
	font-size: 40px;
	font-family: 'Noto Sans TC', sans-serif;
	text-align: left;
}

.title:hover{
    color: lightskyblue;
    font-size: 50px;
}

main{
	margin-bottom: 50px;
}

.description{
	display: block;
	text-align: left;
	width: 70%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Andika New Basic', sans-serif;
	font-size: 18px;
	line-height: 25px;
}

.description a{
	color: white;
	padding-top: 20px;
}

.description a:hover{
	font-size: 25px;
}

footer{
	display: block;
	flex-shrink: 0;
	width: 90%;
	margin: auto;
	background: #050A1F;
	padding: 80px;
	display: flex;
	color: white;
}

footer h2{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 40px;
	flex: 1;
	padding-left: 30px;
}

footer p{
	font-family: 'Andika New Basic', sans-serif;
	font-size: 20px;
	flex: 2;
	line-height: 30px;
}

footer a{
	color: white;
}

footer a:hover{
	color: lightskyblue;
    font-size: 30px;
}

header a:hover{
	color: lightskyblue;
    font-size: 30px;
}




/************* End CSS RESET **************/

/*body {
	background:url(images/paper.png);
	color:#424242;
	font-family: 'Source Sans Pro', sans-serif;
	padding:30px 0;
}

#page {
	width:980px;
	margin:auto;
}

header {
	border-bottom: 3px solid #424242;
	padding-bottom:20px;
}

header, footer {
	margin: 0 10px;
	overflow:hidden;
}
section {
	padding:20px 0;
	overflow:hidden;
}

footer {
	border-top: 3px solid #424242;
	padding-top:20px;
}

#about {
	width:66.6666%;
	padding:10px;
	float:left;
}

#projects {
	width: 33.33%;
	float:left;
	padding:10px;
}

.alignleft {
	float:left;
	margin: 0 10px 5px 0;
}

/************ typography *************/

/*h1, h2, h3 {
	font-family: 'Bitter', serif;
	margin-bottom:.5em;
}

h1 {
	font-size:150%;
	text-transform:uppercase;
}

header h1 {
	font-size:300%;
	margin-bottom:.1em;
}

p {
	line-height:1.4em;
	margin-bottom:1em;
}

ul, ol {
	margin-bottom:1em;
	list-style-type:disc;
	padding-left:1.2em;
}

ol {
	list-style-type:decimal;
}

li {
	margin-bottom:.5em;
}

strong {
	font-weight:600;
}

a {
	text-decoration:none;
	color:#045685;
}

a:hover {
	text-decoration:underline;
}

@media only screen and (max-width: 980px) {
	
	#page { width: 100%; }
	
}

@media only screen and (max-width: 550px) {
	
	#about, #projects {
		float:none;
		width:100%;
	}
	
}*/
	

*/