.invisible{
    display: none;
}

/* .visible{
    
} */

h1{
    text-align: center;
    font-family: cursive;
    color: rgba(156, 78, 180, 0.925);
    font-size: 46pt;
    padding-bottom: 50px;
    padding-top: 20px;
}

body{
    background-color: rgb(204, 229, 236);
}

p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    margin-left: 300px;
    margin-right: 300px;
}

#intro{
position: relative;
animation-name: example;
animation-duration: 3s;  
animation-fill-mode: forwards;
}

@keyframes example {
from {top: -400px;}
to {top: 0px;}
}

h2{
    /* padding-bottom: 50px; */
    padding-top: 20px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: rgba(156, 78, 180, 0.925);
    font-size: 30pt;
}

#gamecontrol{
    padding: 50px;
}


#startgame {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }}

button {
    background-color: #EA9F9F;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "open sans";
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;   
}

#game{
    text-align: center;
}

img{
    padding-bottom: 20px;
}


footer{
    text-align: center;
    padding: 100px;
    margin: auto;
    margin-top: 30px;
}
